/* Sayfa Yapısı */
.text-color {
    color: rgb(67, 79, 148);
}

.kutu-1 {
    width:200px;
    height:200px;
    background:rgb(255, 255, 255);
  }
.kutu-2 {
    width:200px;
    height:200px;
    background:rgb(255, 255, 255);
  }
.kutu-3 {
    width:200px;
    height:200px;
    background:rgb(255, 255, 255);
  }
.float-l {
    float:left;
  }
.float-r {
    float:right;
  }
.clear {
    clear:both;
  }